<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldy.programmer.dao.admin.LogDao">
	<!-- 日志插入操作 -->
	<insert id="add" parameterType="com.ldy.programmer.entity.admin.Log">
		insert into log(id,content,createTime) values(null,#{content},#{createTime})
	</insert>
	<!-- 日志信息搜索查询 -->
	<select id="findList" parameterType="Map" resultType="com.ldy.programmer.entity.admin.Log">
		select * from log where 1=1
		<if test="roleId != null">
			and roleId = #{roleId} 
		</if>
		<if test="content != null">
			and content like '%${content}%' 
		</if>
	</select>
	
	<!-- 删除日志信息 -->
	<delete id="delete" parameterType="String">
		delete from log where id in (${_parameter})
	</delete>
	
	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(1) from log  
		<if test="content != null">
			where content like '%${content}%' 
		</if>
	</select>
	
	
</mapper>